<!-- MODAL STICK UP  -->
<div
  bsModal
  #addNewQuoteServerModal="bs-modal"
  class="modal fade stick-up"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addNewQuoteServerModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header clearfix ">
        <button
          type="button"
          class="close"
          (click)="addNewQuoteServerModal.hide()"
          aria-hidden="true"
        >
          <i class="pg-icon">close</i>
        </button>
        <h4 class="p-b-5"><span class="semi-bold">New</span> User</h4>
      </div>
      <div class="modal-body">
        <form role="form" autocomplete="off" #basicForm="ngForm">
          <div class="row">
            <div class="col-sm-12">
              <div
                class="form-group form-group-default required"
                [class.has-error]="
                  modalAppName.invalid &&
                  (modalAppName.dirty || modalAppName.touched)
                "
              >
                <label>Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  [(ngModel)]="name"
                  #modalAppName="ngModel"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div
                class="form-group form-group-default required"
                [class.has-error]="
                  modalAppName.invalid &&
                  (modalAppName.dirty || modalAppName.touched)
                "
              >
                <label>Host</label>
                <input
                  type="text"
                  class="form-control"
                  id="host"
                  name="ipAddress"
                  [(ngModel)]="ipAddress"
                  #modalAppName="ngModel"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div
                class="form-group form-group-default required"
                [class.has-error]="
                  modalAppName.invalid &&
                  (modalAppName.dirty || modalAppName.touched)
                "
              >
                <label>Port</label>
                <input
                  type="number"
                  class="form-control"
                  id="port"
                  name="port"
                  [(ngModel)]="port"
                  #modalAppName="ngModel"
                  required
                />
              </div>
            </div>
          </div>
					<div class="row">
            <div class="col-sm-12">
              <div
                class="form-group form-group-default required"
                [class.has-error]="
                  modalAppName.invalid &&
                  (modalAppName.dirty || modalAppName.touched)
                "
              >
                <label>Auth message (first message being sent that is used to authenticate the connection)</label>
                <input
                  type="text"
                  class="form-control"
                  id="authMessage"
                  name="authMessage"
                  [(ngModel)]="authMessage"
                  #modalAppName="ngModel"
                  required
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          id="add-app"
          type="button"
          class="btn btn-primary  btn-cons"
          (click)="addUser()"
          [class.disabled]="basicForm.invalid"
        >
          Add
        </button>
        <button
          type="button"
          class="btn btn-cons"
          (click)="addNewQuoteServerModal.hide()"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- START CONTAINER FLUID -->
<pg-container>
  <!-- START card -->
  <div class="card card-transparent">
    <div class="card-header ">
      <div class="card-title">QUOTE SERVERS</div>
      <div class="pull-right">
        <div class="col-xs-12">
          <button (click)="showModal()" class="btn btn-primary btn-cons">
            <i class="pg-icon">add</i> Add new quote server
          </button>
          <button (click)="logOut()" class="btn btn-primary btn-cons">
            Log out
          </button>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <ngx-datatable
          #tableDynamic
          class="table table-hover"
          [columns]="columnsDynamic"
          [columnMode]="columnModeSetting"
          [scrollbarH]="scrollBarHorizontal"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [limit]="25"
          [rows]="dynamicRows"
        >
          <ng-container *ngFor="let column of columnsDynamic">
            <ngx-datatable-column
              *ngIf="column.name === 'Actions'"
              name="Actions"
              prop="actions"
            >
              <ng-template
                let-value="value"
                let-row="row"
                ngx-datatable-cell-template
              >
                <span class="btnsContainer">
                  <button
                    class="btn btn-icon icon-left another"
                    (click)="sendQuoteServerMsg(row.id, 'GETQUOTES')"
                  >
                    Get Quotes
                  </button>

                  <button
                    class="btn btn-icon icon-left another"
                    (click)="sendQuoteServerMsg(row.id, 'DEBUGON')"
                  >
                    Debug On
                  </button>

                  <button
                    class="btn btn-icon icon-left another"
                    (click)="sendQuoteServerMsg(row.id, 'DEBUGOFF')"
                  >
                    Debug Off
                  </button>

                  <button
                    class="btn btn-icon icon-left another"
                    (click)="sendQuoteServerMsg(row.id, 'BYE')"
                  >
                    Stop
                  </button>
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              *ngIf="column.name !== 'Actions'"
              name="{{ column.name }}"
              prop="{{ column.prop }}"
            >
            </ngx-datatable-column>
          </ng-container>
        </ngx-datatable>
      </div>
    </div>
  </div>
  <!-- END card -->
</pg-container>
<!-- END CONTAINER FLUID -->
