.mgrr {
  margin-right: 0.5vh;
}
button.btn.btn-icon.icon-left {
  padding: 0.75vh 0.75vw;
}

.btnsContainer {
  margin: -0.75vh -0.75vw;
}

.another {
  padding: 0.5vh 0.5vw !important;
  margin: unset !important;
  margin-right: 0.25vw !important;
}
